<div class="card">
  <div class="card-header">
    <strong><%= @article.title %></strong>
    <%= link_to "(Did you seriously make a typo?)", edit_article_path, class: "navbar-brand" %>
  </div>
  <div class="card-body">
    <p><%= @article.content %></p>
    <%= link_to "Do you REALLY want to go back?", articles_path, class: "btn btn-light" %>
    <%= link_to 'We get it. Not so confident after all.', article_path(@article), method: :delete, data: { confirm: "No reason to wait around any longer. Delete this now." }, class: "btn btn-danger" %>
  </div>
</div>
