<!DOCTYPE html>
<html>
  <head>
    <title>RailsWikinimous</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-light bg-light">
      <div class="container-fluid">
        <%= link_to "Wikinimous", articles_path, class: "navbar-brand"%>
        <%= link_to "You honestly think you can write?", new_article_path, class: "navbar-brand" %>
      </div>
    </nav>
    <div class="card">
      <div class="card-body">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
